# Final Project

## The Best Neighborhood in Pittsburgh

### John R. Lovre (JRL142) - Group 32

Metric: Number of Parking Meters

dataset: https://data.wprdc.org/dataset/parking-meters-pittsburgh-parking-authority/resource/72fff5c4-5ef2-4437-9e40-e2d999d455ed

The number of parking meters in a neighborhood is a metric used to determine the availability of on-site public parking.

In [140]:
# import dataset
import pandas as pd
file = pd.read_csv("parking_meters.csv")
file

,_id,x,y,objectid,terminal_id,node,location,lot,rate,maxhours,...,resttime1,resttime2,specialev,created_user,created_date,last_edited_user,last_edited_date,ratetimea,ratetimeb,rate2
0,2113,-79.922827,40.462490,225,301520-SHARVD0001,SHER-HAR-L,SHERIDAN HARVARD LOT,Lot,$1 Per Hour,4 Hours,...,,,No,NaN,NaN,NaN,NaN,,,
1,2114,-79.923530,40.462718,226,301521-SHARVD0002,SHER-HAR-L,SHERIDAN HARVARD LOT,Lot,$1 Per Hour,4 Hours,...,,,No,NaN,NaN,NaN,NaN,,,
2,2115,-79.923127,40.461796,227,302521-KIRKWD0001,SHER-KIR-L,SHERIDAN KIRKWOOD LOT,Lot,$1 Per Hour,4 Hours,...,,,No,NaN,NaN,NaN,NaN,,,
3,2116,-79.922689,40.461792,228,302522-KIRKWD0002,SHER-KIR-L,SHERIDAN KIRKWOOD LOT,Lot,$1 Per Hour,4 Hours,...,,,No,NaN,NaN,NaN,NaN,,,
4,2117,-79.922329,40.461512,229,302523-KIRKWD0003,SHER-KIR-L,SHERIDAN KIRKWOOD LOT,Lot,$1 Per Hour,4 Hours,...,,,No,NaN,NaN,NaN,NaN,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086,3199,NaN,NaN,0,PBP423,WEST END,Virtual Terminal for ParkMobile,,,,...,,,,NaN,NaN,NaN,NaN,,,
1087,3200,NaN,NaN,0,PBP424,TECHNOLOGY,Virtual Terminal for ParkMobile,,,,...,,,,NaN,NaN,NaN,NaN,,,
1088,3201,NaN,NaN,0,PBP425,BAKERY-SQ,Virtual Terminal for ParkMobile,,,,...,,,,NaN,NaN,NaN,NaN,,,
1089,3202,NaN,NaN,0,PBP426,HILL-DIST,Virtual Terminal for ParkMobile,,,,...,,,,NaN,NaN,NaN,NaN,,,
1090,3203,NaN,NaN,0,PBP427,KNOXVILLE,Virtual terminal for ParkMobile,,,,...,,,,NaN,NaN,NaN,NaN,,,

In [141]:
# List all neighborhoods (nodes) tracked within dataset
meters = pd.DataFrame(file)
all_nodes = meters['node'].drop_duplicates()
print(all_nodes.to_string())

0                           SHER-HAR-L
2                           SHER-KIR-L
5                           TAME-BEA-L
7                           EVA-BEAT-L
9                           ANSL-BEA-L
10                          PENNC.NW-L
12                          BEAC-BAR-L
15                          FORB-SHA-L
18                          DOUG-PHI-L
20                          FORB-MUR-L
23                               JCC-L
25                          IVY-BELL-L
30                          HOME-ZEN-L
31                            TAYLOR-L
32                          FRIE-CED-L
34                          5224BUTL-L
35                          42-BUTLE-L
36                          18-SIDNE-L
38                          EASTCARS-L
40                          19-CARSO-L
41                          18-CARSO-L
43                          20-SIDNE-L
45                          BROW-SAN-L
47                          WALT-WAR-L
48                          ASTE-WAR-L
49                          BROOKLIN-L
50                          BEECHVIE-L
51                          MAIN-ALE-L
52                          EASTOHIO-L
54                          OBSERHIL-L
55                           DOWNTOWN1
98                           DOWNTOWN2
155                        HILL-DIST-2
164                            UPTOWN1
168                            UPTOWN2
224                          STRIPDIST
277                          LAWRENCEV
307                         BLOOMFIELD
375                           OAKLAND1
406                           OAKLAND2
444                           OAKLAND3
457                           SHILOH-L
505                           OAKLAND4
532                          W CIRC DR
551                         SHADYSIDE1
561                         SHADYSIDE2
603                            EASTLIB
659                           SQ.HILL1
701                           SQ.HILL2
714                          MELONPARK
718                          SOUTHSIDE
821                            CARRICK
831                          ALLENTOWN
834                          BEECHVIEW
842                          BROOKLINE
862                            MT.WASH
879                          NORTHSIDE
970                         NORTHSHORE
1007                          WEST END
1013                        TECHNOLOGY
1018                         BAKERY-SQ
1022                         HILL-DIST
1026                         KNOXVILLE
1035                FRIENDSHIP AVE RPP
1048    Z - Inactive/Removed Terminals

In [142]:
# Notice that some nodes have mulitple entries
# e.g. 19-CARSO, 18-CARSO and SQ.HILL1, SQ.HILL2
# combine items like this into one category by removing numbers
numbers = '|'.join(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '0'])
condensed_nodes = all_nodes.str.replace(numbers, '', regex=True)
condensed_nodes = condensed_nodes.drop_duplicates()
print(condensed_nodes.to_string(), str('\ntotal:'), condensed_nodes.count())

0                           SHER-HAR-L
2                           SHER-KIR-L
5                           TAME-BEA-L
7                           EVA-BEAT-L
9                           ANSL-BEA-L
10                          PENNC.NW-L
12                          BEAC-BAR-L
15                          FORB-SHA-L
18                          DOUG-PHI-L
20                          FORB-MUR-L
23                               JCC-L
25                          IVY-BELL-L
30                          HOME-ZEN-L
31                            TAYLOR-L
32                          FRIE-CED-L
34                              BUTL-L
35                            -BUTLE-L
36                            -SIDNE-L
38                          EASTCARS-L
40                            -CARSO-L
45                          BROW-SAN-L
47                          WALT-WAR-L
48                          ASTE-WAR-L
49                          BROOKLIN-L
50                          BEECHVIE-L
51                          MAIN-ALE-L
52                          EASTOHIO-L
54                          OBSERHIL-L
55                            DOWNTOWN
155                         HILL-DIST-
164                             UPTOWN
224                          STRIPDIST
277                          LAWRENCEV
307                         BLOOMFIELD
375                            OAKLAND
457                           SHILOH-L
532                          W CIRC DR
551                          SHADYSIDE
603                            EASTLIB
659                            SQ.HILL
714                          MELONPARK
718                          SOUTHSIDE
821                            CARRICK
831                          ALLENTOWN
834                          BEECHVIEW
842                          BROOKLINE
862                            MT.WASH
879                          NORTHSIDE
970                         NORTHSHORE
1007                          WEST END
1013                        TECHNOLOGY
1018                         BAKERY-SQ
1022                         HILL-DIST
1026                         KNOXVILLE
1035                FRIENDSHIP AVE RPP
1048    Z - Inactive/Removed Terminals
total: 56

In [143]:
# now we know we have a set of 56 neighborhoods to rank

# go back to original dataset and update
# nodes to remove numbers from name
meters['node'] = meters['node'].str.replace(numbers, '', regex=True)
#print(meters['node'].drop_duplicates().to_string())

In [144]:
# Sort nodes by number of parking meters
meters_by_node = meters.groupby('node')
meter_count = meters_by_node['node'].count()
meter_listing = meter_count.sort_values(ascending=False)
meter_listing

node
OAKLAND                           177
SOUTHSIDE                         102
DOWNTOWN                          100
NORTHSIDE                          92
BLOOMFIELD                         69
UPTOWN                             63
EASTLIB                            58
SQ.HILL                            57
SHADYSIDE                          54
STRIPDIST                          52
NORTHSHORE                         39
LAWRENCEV                          30
BROOKLINE                          22
MT.WASH                            18
HILL-DIST-                         10
CARRICK                            10
BEECHVIEW                           9
KNOXVILLE                           7
WEST END                            7
TECHNOLOGY                          6
-SIDNE-L                            6
IVY-BELL-L                          6
MELONPARK                           5
BAKERY-SQ                           5
-CARSO-L                            5
HILL-DIST                           5
SHER-KIR-L                          4
FORB-MUR-L                          4
FORB-SHA-L                          4
ALLENTOWN                           4
BEAC-BAR-L                          4
DOUG-PHI-L                          3
SHER-HAR-L                          3
JCC-L                               3
EVA-BEAT-L                          3
TAME-BEA-L                          3
EASTOHIO-L                          3
EASTCARS-L                          3
FRIE-CED-L                          3
BROW-SAN-L                          3
PENNC.NW-L                          3
TAYLOR-L                            2
WALT-WAR-L                          2
W CIRC DR                           2
-BUTLE-L                            2
HOME-ZEN-L                          2
OBSERHIL-L                          2
MAIN-ALE-L                          2
BUTL-L                              2
BROOKLIN-L                          2
BEECHVIE-L                          2
ASTE-WAR-L                          2
ANSL-BEA-L                          2
SHILOH-L                            1
FRIENDSHIP AVE RPP                  1
Z - Inactive/Removed Terminals      1
Name: node, dtype: int64

In [133]:
# condense to top 20 listings
meter_listing.head(20)

node
OAKLAND       177
SOUTHSIDE     102
DOWNTOWN      100
NORTHSIDE      92
BLOOMFIELD     69
UPTOWN         63
EASTLIB        58
SQ.HILL        57
SHADYSIDE      54
STRIPDIST      52
NORTHSHORE     39
LAWRENCEV      30
BROOKLINE      22
MT.WASH        18
HILL-DIST-     10
CARRICK        10
BEECHVIEW       9
KNOXVILLE       7
WEST END        7
TECHNOLOGY      6
Name: node, dtype: int64